In [3]:
import spacy
from geopy import geocoders
import pandas as pd

In [4]:
nominatimGeo = geocoders.Nominatim(user_agent="aisan")
nlp = spacy.load("xx_ent_wiki_sm") #multilingial

In [5]:
#location = '../Makarov/'
df = pd.read_csv('makarov_documents.csv')
df

,full_file_name,file_name,text
0,../Makarov/documents\AFP_ENG_20020306.0508.txt,AFP_ENG_20020306.0508,British police arrest two over Real IRA bombin...
1,../Makarov/documents\AFP_ENG_20020309.0310.txt,AFP_ENG_20020309.0310,Mont Blanc tunnel re-opens commemorating fire ...
2,../Makarov/documents\AFP_ENG_20020311.0492.txt,AFP_ENG_20020311.0492,Hostage-taking in Amsterdam building ends when...
3,../Makarov/documents\AFP_ENG_20020314.0244.txt,AFP_ENG_20020314.0244,Protesting trade unionists fill Paris street w...
4,../Makarov/documents\AFP_ENG_20020317.0256.txt,AFP_ENG_20020317.0256,Britain condemns Pakistan church attack\nLONDO...
...,...,...,...
289,../Makarov/documents\APW_ENG_20061020.1415.txt,APW_ENG_20061020.1415,Finnair strike ends as airline ' s cabin staff...
290,../Makarov/documents\APW_ENG_20061025.0763.txt,APW_ENG_20061025.0763,Thousands of demonstrating teachers block stre...
291,../Makarov/documents\APW_ENG_20061025.1005.txt,APW_ENG_20061025.1005,Paris marchers carry list of grievances from t...
292,../Makarov/documents\APW_ENG_20061026.1375.txt,APW_ENG_20061026.1375,"Greek teachers signal end of strike, students ..."
293,../Makarov/documents\APW_ENG_20061026.1439.txt,APW_ENG_20061026.1439,Report: Slovak nationalist opposes naming emba...

In [16]:
i=0
def extract_location(text):
    global i
    try:
        doc = nlp(text)
        locations = []
        for ent in doc.ents:
            if ent.label_== 'LOC':
                loc = nominatimGeo.geocode(ent.text, timeout= 100)

                dictionary = {'original_text':ent.text,
                              'start_char':ent.start_char,
                              'end_char':ent.end_char,
                              'label':ent.label_,
                              'found_text': loc,
                              'latitude': loc.latitude if (loc != None) else '-',
                              'longitude': loc.longitude if (loc != None) else '-'
                             }
                locations.append(dictionary)
        return locations
    except:
        print('Error')
        return None
    finally:
        print(i)
        i+=1

In [7]:
df['locations_spacy+nominatim'] = df['text'].apply(extract_location)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
Error
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
Error
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
Error
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
Error
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
Error
210
211
212
213
214
215
216
217
218
219
Error
220
221
222
223
224
225
226
227
Error
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293

"l = []\nfor index, row in df.iterrows():\n    print(index)\n    try:\n        l.append(extract_location(row['text']))\n    except:\n        print(index, 'ERROR')"

In [22]:
df.loc[17,'locations_spacy+nominatim'] = extract_location(df.loc[17,'text'])
df.loc[34,'locations_spacy+nominatim'] = extract_location(df.loc[34,'text'])
df.loc[88,'locations_spacy+nominatim'] = extract_location(df.loc[88,'text'])
df.loc[118,'locations_spacy+nominatim'] = extract_location(df.loc[118,'text'])
df.loc[210,'locations_spacy+nominatim'] = extract_location(df.loc[210,'text'])
df.loc[220,'locations_spacy+nominatim'] = extract_location(df.loc[220,'text'])
df.loc[228,'locations_spacy+nominatim'] = extract_location(df.loc[228,'text'])

9
10
11
12
13
14
15

In [23]:
df.to_csv('makarov_documents_extracted.csv',index=False)
df.to_pickle("./makarov_documents_extracted_df.pkl")

# seeing as df

In [10]:
loc_df = pd.DataFrame(df.loc[0,'locations_spacy+nominatim'])

In [11]:
print(type(df.loc[0,'locations_spacy+nominatim']))

<class 'list'>

In [12]:
loc_df

,original_text,start_char,end_char,label,found_text,latitude,longitude
0,Britain,147,154,LOC,"(United Kingdom, (54.7023545, -3.2765753))",54.702354,-3.276575
1,England,330,337,LOC,"(England, United Kingdom, (52.7954791, -0.5402...",52.795479,-0.540240
2,Leeds,393,398,LOC,"(Leeds, West Yorkshire, Yorkshire and the Humb...",53.797418,-1.543794
3,England,410,417,LOC,"(England, United Kingdom, (52.7954791, -0.5402...",52.795479,-0.540240
4,Northern Ireland,617,633,LOC,"(Northern Ireland, United Kingdom, (54.6294982...",54.629498,-6.765442
5,London,749,755,LOC,"(London, Greater London, England, United Kingd...",51.507322,-0.127647
6,London,827,833,LOC,"(London, Greater London, England, United Kingd...",51.507322,-0.127647
7,Birmingham,838,848,LOC,"(Birmingham, West Midlands Combined Authority,...",52.479699,-1.902691
8,London,936,942,LOC,"(London, Greater London, England, United Kingd...",51.507322,-0.127647
9,Ealing,1051,1057,LOC,"(Ealing, London Borough of Ealing, London, Gre...",51.512655,-0.305195
10,west London,1059,1070,LOC,"(London, Greater London, England, United Kingd...",51.507322,-0.127647
11,Birmingham,1126,1136,LOC,"(Birmingham, West Midlands Combined Authority,...",52.479699,-1.902691
12,Northern Ireland,1209,1225,LOC,"(Northern Ireland, United Kingdom, (54.6294982...",54.629498,-6.765442
13,Omagh,1302,1307,LOC,"(Omagh, County Tyrone, Northern Ireland, BT78 ...",54.599249,-7.302991